/* MessagesComponent's private CSS styles */
h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
ul {
  list-style: none;
}

.clear {
  color: #333;
  background-color: #eee;
  margin: 20px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  height: 50px;
}
.clear:hover {
  color: white;
  background-color: #42545C;
}
.container {
  display: flex;
}